/*removing all the margin and padding due to browser */
*{
  margin:0;
  padding:0;
}

/*style for the header */
.start h1{
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
  color: white;
  font-family:'Freestyle Script',cursive;
  font-size: 90px;
  animation: headanim 4s ;
  animation-fill-mode: forwards;
  -webkit-animation: headanim 4s ;
  -webkit-animation-fill-mode: forwards;
}
@keyframes headanim {
  0%{top:30vh;opacity: 0;}
  100%{top: 40vh; opacity: 1;}
}
@-webkit-keyframes headanim {
  0%{top:30vh;opacity: 0;}
  100%{top: 40vh; opacity: 1;}
}
.start h1 span{
	font-size:40px;
}
@keyframes paraanim {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@-webkit-keyframes paraanim {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.start .wrapp{
	width:100%;
	height:100vh;
	min-height:600px;
}
.start .wrapp .wrapped{
	width:800%;
	height:100vh;
	min-height:600px;
	position:relative;
	animation-name:anim;
	animation-duration:30s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  -webkit-animation-name:anim;
	-webkit-animation-duration:30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
}

@keyframes anim{
	0%{left:0px;}
	10%{left:0px;}
	13%{left:-100%;}
	23%{left:-100%;}
	26%{left:-200%;}
	36%{left:-200%;}
        39%{left: -300%;}
        49%{left: -300%;}
        52%{left: -400%;}
        62%{left: -400%;}
        65%{left: -500%;}
        75%{left: -500%;}
        78%{left: -600%;}
        88%{left: -600%;}
        90%{left: -700%;}
       100%{left: -700%;}
  }
@-webkit-keyframes anim{
	0%{left:0px;}
	10%{left:0px;}
	13%{left:-100%;}
	23%{left:-100%;}
	26%{left:-200%;}
	36%{left:-200%;}
        39%{left: -300%;}
        49%{left: -300%;}
        52%{left: -400%;}
        62%{left: -400%;}
        65%{left: -500%;}
        75%{left: -500%;}
        78%{left: -600%;}
        88%{left: -600%;}
        90%{left: -700%;}
       100%{left: -700%;}
}

.start .wrapp{
	overflow:hidden;
}
.start .wrapp .wrapped .wrapped1,.wrapped2,.wrapped3,.wrapped4,.wrapped5,.wrapped6,.wrapped7,.wrapped8{
	width:calc(100%/8);
  -webkit-width:calc(100%/8);
  -moz-width:calc(100%/8);
	height:100vh;
	min-height:600px;
	float:left;
}
.start .wrapp .wrapped .wrapped1{
	background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url("https://shantinathmarble.000webhostapp.com/images/cover-image/shantinath-marble-cover-9.jpg");
	background-size:auto;
	background-position:center;
}
.start .wrapp .wrapped .wrapped2{
	background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("https://shantinathmarble.000webhostapp.com/images/cover-image/shantinath-marble-cover-10.jpg");
	background-size:cover;
	background-position: 40% 50%;
}
.start .wrapp .wrapped .wrapped3{
	background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.4)),url("https://shantinathmarble.000webhostapp.com/images/cover-image/shantinath-marble-cover-11.jpg");
	background-size:cover;
	background-position:center;
}
.start .wrapp .wrapped .wrapped4{
	background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url("https://shantinathmarble.000webhostapp.com/images/cover-image/shantinath-marble-cover-4.jpg");
	background-size:cover;
	background-position:center;
}
.start .wrapp .wrapped .wrapped5{
	background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("https://shantinathmarble.000webhostapp.com/images/cover-image/shantinath-marble-cover-5.jpg");
	background-size:cover;
	background-position: 40% 50%;
}
.start .wrapp .wrapped .wrapped6{
	background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.4)),url("https://shantinathmarble.000webhostapp.com/images/cover-image/shantinath-marble-cover-6.jpg");
	background-size:cover;
	background-position:50% 70%;
}
.start .wrapp .wrapped .wrapped7{
	background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),url("https://shantinathmarble.000webhostapp.com/images/cover-image/shantinath-marble-cover-7.jpg");
	background-size:cover;
	background-position:40% 70%;
}
.start .wrapp .wrapped .wrapped8{
	background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("https://shantinathmarble.000webhostapp.com/images/cover-image/shantinath-marble-cover-8.jpg");
	background-size:cover;
	background-position: center;
}

/*end of style for header */

.top-menu{
  height:80px;
  width:100%;
  background-color: rgba(0,0,0,.8);
  position:absolute;
  top:0;
  left:0;
  z-index: 2;
  color: white;
  text-align: center;
}
.top-menu ul li{
  display: inline;
  float: right;
  padding: 30px 20px 5px 20px;
}
ul li:hover{
  border-bottom: white 1px solid;
}
a{
  text-decoration:none;
  color: white;
}

.intro{
	height:100vh;
  height: auto;
	width:100%;
	/*background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("file:///C:/Users/Ashish/Desktop/new%20marble/front/front/IMG_20170515_180529192.jpg");
	*/background-color: rgba(0, 0, 0, 0.7);
  background-size:cover;
	background-attachment:fixed;
	background-position: center;
	color: rgba(255,255,255,1);
}
.intro h1{
	text-align:center;
  padding: 20px 0 20px 0 ;
}
.intro .about{
  padding: 0 0 20px 0;
}
.intro .about .about1{
	width:80%;
	height:auto;
/*  border-left: solid 2px red;*/
	margin:0 auto;
}
.intro .about .about1 p{
  opacity: 0;
  position: relative;
  padding: 20px;
  font-size: 17px;
  text-align: justify;
  line-height: 30px;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
  .anim{
  animation: paraanim2 4s ;
  animation-iteration-count:1;
  animation-fill-mode: forwards;
  -webkit-animation: paraanim2 4s ;
  -webkit-animation-iteration-count:1;
  -webkit-animation-fill-mode: forwards;
}
@keyframes paraanim2 {
  0%{left:50px;opacity: 0;}
  100%{left:0;opacity: 1;}
}
@-webkit-keyframes paraanim2 {
  0%{left:50px;opacity: 0;}
  100%{left:0;opacity: 1;}
}

  .products{
    background-color: black;
    color: white;
    height: 100vh;
    text-align: center;
  }
  .products h1{
    padding:20px 0 20px 0;
  }
  .products h2{
   font-family:'Freestyle Script',cursive;
   font-size:40px;
   }
  .marble-content>ul{
    padding: 20px 0 0 0;
    line-height: 5vh;
    text-decoration: none;
  }
  .marble-content>ul>li{
    border: none;
  }

/* styling the container */
.container{
	width:50%;
	height:50vh;
	background-color:black;
	overflow:hidden;
	perspective:1000px;
  float: left;
	}

/* styling platform */

.platform{
	height:100px;
	width:100px;
	position:relative;
	top:100px;
	transform-style:preserve-3d;
	-webkit-animation: anim3 10s infinite linear;
  animation: anim3 10s infinite linear;
  margin:0 auto;
	}
.platform:hover{
	animation-play-state:paused;
  -webkit-animation-play-state:paused;
	}

/* giving animation to platform to rotate */
@keyframes anim3{
	0%{transform:rotateY(0deg);-webkit-transform:rotateY(0deg);}
	100%{transform:rotateY(360deg);-webkit-transform:rotateY(360deg);}
}
@-webkit-keyframes anim3{
  0%{transform:rotateY(0deg);-webkit-transform:rotateY(0deg);}
	100%{transform:rotateY(360deg);-webkit-transform:rotateY(360deg);}
}

.platform .face1 , .face2 ,.face3 , .face4 ,.face5 , .face6,.face7 , .face8 ,.face9 , .face10 ,.face11 , .face12{
	width:100px;
	height:100px;
	position:absolute;
	}
.face1{
	background-image: url("https://shantinathmarble.000webhostapp.com/images/marble-animation/marble-animation_1.jpg");
	transform:translateZ(100px);
  -webkit-transform:translateZ(100px);
  -moz-transform:translateZ(100px);
	}
.face2{
  background-image: url("https://shantinathmarble.000webhostapp.com/images/marble-animation/marble-animation_2.jpg");
	transform:rotateY(60deg) translateZ(100px);
  -webkit-transform:rotateY(60deg) translateZ(100px);
  -moz-transform:rotateY(60deg) translateZ(100px);
	}
.face3{
  background-image: url("https://shantinathmarble.000webhostapp.com/images/marble-animation/marble-animation_3.jpg");
	transform:rotateY(120deg) translateZ(100px);
  -webkit-transform:rotateY(120deg) translateZ(100px);
  -moz-transform:rotateY(120deg) translateZ(100px);
	}
.face4{
  background-image: url("https://shantinathmarble.000webhostapp.com/images/marble-animation/marble-animation_4.jpg");
	transform:rotateY(180deg) translateZ(100px);
  -webkit-transform:rotateY(180deg) translateZ(100px);
  -moz-transform:rotateY(180deg) translateZ(100px);
	}
.face5{
  background-image: url("https://shantinathmarble.000webhostapp.com/images/marble-animation/marble-animation_5.jpg");
	transform:rotateY(240deg) translateZ(100px);
  -webkit-transform:rotateY(240deg) translateZ(100px);
  -moz-transform:rotateY(240deg) translateZ(100px);
	}
.face6{
  background-image: url("https://shantinathmarble.000webhostapp.com/images/marble-animation/marble-animation_6.jpg");
	transform:rotateY(300deg) translateZ(100px);
  -webkit-transform:rotateY(300deg) translateZ(100px);
  -moz-transform:rotateY(300deg) translateZ(100px);
	}
.face7{
	background-image: url("https://shantinathmarble.000webhostapp.com/images/granite-animation/granite-animation-1.jpg");
  transform:translateZ(100px);
  -webkit-transform:translateZ(100px);
  -moz-transform:translateZ(100px);
	}
.face8{
  background-image: url("https://shantinathmarble.000webhostapp.com/images/granite-animation/granite-animation-2.jpg");
  transform:rotateY(60deg) translateZ(100px);
  -webkit-transform:rotateY(60deg) translateZ(100px);
  -moz-transform:rotateY(60deg) translateZ(100px);
	}
.face9{
  background-image: url("https://shantinathmarble.000webhostapp.com/images/granite-animation/granite-animation-3.jpg");
  transform:rotateY(120deg) translateZ(100px);
  -webkit-transform:rotateY(120deg) translateZ(100px);
  -moz-transform:rotateY(120deg) translateZ(100px);
	}
.face10{
  background-image: url("https://shantinathmarble.000webhostapp.com/images/granite-animation/granite-animation-4.jpg");
  transform:rotateY(180deg) translateZ(100px);
  -webkit-transform:rotateY(180deg) translateZ(100px);
  -moz-transform:rotateY(180deg) translateZ(100px);
	}
.face11{
  background-image: url("https://shantinathmarble.000webhostapp.com/images/granite-animation/granite-animation-5.jpg");
  transform:rotateY(240deg) translateZ(100px);
  -webkit-transform:rotateY(240deg) translateZ(100px);
  -moz-transform:rotateY(240deg) translateZ(100px);
	}
.face12{
  background-image: url("https://shantinathmarble.000webhostapp.com/images/granite-animation/granite-animation-6.jpg");
  transform:rotateY(300deg) translateZ(100px);
  -webkit-transform:rotateY(300deg) translateZ(100px);
  -moz-transform:rotateY(300deg) translateZ(100px);
	}

  .marble-content{
    width:50%;
    height: 50vh;
    float: left;
    background-color: black;
  }

  footer{
    background-color: rgba(255,255,255,.7);
    color: rgba(0,0,0,.8);
    height: auto;
    width: 100%;
  }
  footer>h1{
    color: rgba(0,0,0,.8);
    text-align: center;
    padding: 30px 0 30px 0;
  }
  footer>ul>li{
    float: left;
    width: calc(100% /4);
    height: 200px;
    line-height: 35px;
  }
  footer>ul{
    height: 100px;
    display: block;
  }
  footer>ul>*{
    text-align: center;
  }
  ul {
  list-style-type: none;
  }
  footer a{
    color: rgba(0,0,0,.8);
  }
  .rights{
    height: auto;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    color: rgba(255,255,255,.7);
    text-align: center;
    padding: 20px 0 20px 0;
    line-height: 25px;
    margin-top: 20px;
  }

  @media screen and (max-width:1000px) {
    footer>ul>li,footer>ul>a{
      width: calc(100% /2);
      padding-bottom: 20px;
      float: left;
      height: 200px;
    }
  }

  @media screen and (max-width:510px){
    .start h1{
      font-size: 60px;
    }
    .container{
      width: 100%;
    }
    .start h1 span{
	font-size:35px;
	  }
    .start .wrapp .wrapped .wrapped1{
	background-size:cover;
	background-position:center;
}
    .marble-content{
      width: 100%;
    }
    .products{
      background-color: black;
      color: white;
      height: 200vh;
      text-align: center;
    }
       .platform .face1 , .face2 ,.face3 , .face4 ,.face5 , .face6,.face7 , .face8 ,.face9 , .face10 ,.face11 , .face12{
    	width:150px;
    	height:150px;
    	}
      .face1{
      	transform:translateZ(180px);
        -webkit-transform:translateZ(180px);
        -moz-transform:translateZ(180px);
      	}
      .face2{
      	transform:rotateY(60deg) translateZ(180px);
        -webkit-transform:rotateY(60deg) translateZ(180px);
        -moz-transform:rotateY(60deg) translateZ(180px);
      	}
      .face3{
      	transform:rotateY(120deg) translateZ(180px);
        -webkit-transform:rotateY(120deg) translateZ(180px);
        -moz-transform:rotateY(120deg) translateZ(180px);
      	}
      .face4{
      	transform:rotateY(180deg) translateZ(180px);
        -webkit-transform:rotateY(180deg) translateZ(180px);
        -moz-transform:rotateY(180deg) translateZ(180px);
      	}
      .face5{
      	transform:rotateY(240deg) translateZ(180px);
        -webkit-transform:rotateY(240deg) translateZ(180px);
        -moz-transform:rotateY(240deg) translateZ(180px);
      	}
      .face6{
      	transform:rotateY(300deg) translateZ(180px);
        -webkit-transform:rotateY(300deg) translateZ(180px);
        -moz-transform:rotateY(300deg) translateZ(180px);
      	}
      .face7{
          transform:translateZ(180px);
          -webkit-transform:translateZ(180px);
          -moz-transform:translateZ(180px);
        	}
        .face8{
          transform:rotateY(60deg) translateZ(180px);
          -webkit-transform:rotateY(60deg) translateZ(180px);
          -moz-transform:rotateY(60deg) translateZ(180px);
        	}
        .face9{
          transform:rotateY(120deg) translateZ(180px);
          -webkit-transform:rotateY(120deg) translateZ(180px);
          -moz-transform:rotateY(120deg) translateZ(180px);
        	}
        .face10{
          transform:rotateY(180deg) translateZ(180px);
          -webkit-transform:rotateY(180deg) translateZ(180px);
          -moz-transform:rotateY(180deg) translateZ(180px);
        	}
        .face11{
          transform:rotateY(240deg) translateZ(180px);
          -webkit-transform:rotateY(240deg) translateZ(180px);
          -moz-transform:rotateY(240deg) translateZ(180px);
        	}
        .face12{
          transform:rotateY(300deg) translateZ(180px);
          -webkit-transform:rotateY(300deg) translateZ(180px);
          -moz-transform:rotateY(300deg) translateZ(180px);
        	}
        footer>ul>li{
            width:100%;
            padding-bottom: 20px;
            float: left;
            height: 200px;
            line-height:40px;
          }
          .email , .facebook{
            height: 130px;
          }
  }

  @media screen and (max-width:350px)
  {
    .start h1{
      font-size: 40px;
    }
    .start h1 span{
      font-size: 30px;
    }
    footer>ul>li,footer>ul>a>li{
      width: 100%;
    }
  }
